<div class="container">
  <div class="cabecalho">
    <ion-button fill="outline" [routerLink]="['/collabore/feed']">
      <ion-icon name="chevron-back-outline" style="color: #1e232c"></ion-icon>
    </ion-button>
    <img src="../../../assets/modo-serio.png" alt="Foto de Perfil" />
    <div class="infos">
      <h1>Usuario User</h1>
      <p>Marília-sp</p>
    </div>
  </div>
  <div class="imagem-pub">
    <img src="../../../assets/paisagem2.jpg" alt="Publica~cao do usuario" />
    <div class="botoes">
      <div class="esquerda">
        <button class="like">
          <ion-icon name="heart-outline"></ion-icon>
        </button>
      </div>
      <button class="report">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </button>
    </div>
    <div class="texts">
      <h2>Aconteceu alguma coisa ali</h2>
      <p class="category">Elogio</p>
      <p class="description">
        Lorem ipsum dolor sit amet. Est fugiat nesciunt ut fugit nihil sed
        placeat quia nam modi assumenda hic totam tenetur cum molestiae corporis
        vel inventore reprehenderit. Qui enim porro ut praesentium sapiente nam
        obcaecati incidunt eos repellat sint quo odio quae vel cupiditate
        aliquid.
      </p>
    </div>
  </div>
  <h2>Comentários</h2>
  <div class="comentarys">
    <div class="input-user">
      <img src="../../../assets/modo-serio.png" alt="Foto de perfil" />
      <div class="add">
        <h3>Nome User</h3>
        <ion-textarea
          placeholder="Adicionar comentario"
          [autoGrow]="true"
          color="none"
        ></ion-textarea>
      </div>
    </div>
    <div class="others-coment"></div>
  </div>
</div>
