<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-button fill="outline" [routerLink]="['/edit-profile']">
      <ion-icon name="chevron-back-outline" style="color: #1e232c"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="all">
    <div class="inputs-top">
      <h1>Criar nova Senha</h1>
      <p>Sua nova senha deve ser diferente da senha antiga !</p>
      <ion-card-subtitle>Insira sua senha atual</ion-card-subtitle>
      <ion-item class="ion-margin-top">
        <ion-input
          type="{{ passVisuAct ? 'text' : 'password' }}"
          placeholder="Senha Atual"
        ></ion-input>
        <!-- <ion-note class="ion-text-center" slot="end" color="danger" >Obrigatório</ion-note> -->
        <ion-icon
          name="{{ passVisuAct ? 'eye-off' : 'eye' }}"
          slot="end"
          (click)="passVisibilityActual()"
        ></ion-icon>
      </ion-item>
      <ion-card-subtitle class="seg-subtit"
        >Insira sua nova senha</ion-card-subtitle
      >
      <ion-item class="ion-margin-top">
        <ion-input
          type="{{ passVisuNew ? 'text' : 'password' }}"
          placeholder="Nova senha"
        ></ion-input>
        <!-- <ion-note class="ion-text-center" slot="end" color="danger" >Obrigatório</ion-note> -->
        <ion-icon
          name="{{ passVisuNew ? 'eye-off' : 'eye' }}"
          slot="end"
          (click)="passVisibilityNew()"
        ></ion-icon>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-input
          type="{{ passVisuNew ? 'text' : 'password' }}"
          placeholder="Confirme a nova senha"
        ></ion-input>
        <ion-icon
          name="{{ passVisuNew ? 'eye-off' : 'eye' }}"
          slot="end"
          (click)="passVisibilityNew()"
        ></ion-icon>
      </ion-item>
    </div>
    <div class="inferior">
      <a routerLink="/password-forget">Esqueci minha senha</a>
      <ion-button type="submit" expand="block" class="ion-margin-top">
        Confirmar alterações
      </ion-button>
    </div>
  </div>
</ion-content>
