<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed" href="/collabore/feed">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="new-post" href="/collabore/new-post">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/collabore/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
