

<ion-content [fullscreen]="true">

  <ion-img
    class="home-image"
    src="../../../assets/home-image.png"
    alt="Imagem de um celular tirando foto da cidade"
  ></ion-img>

<!-- <===============================================>     -->

  <ion-grid>
    <ion-row>
      <ion-col><h2 class="ion-text-center slogan">Faça parte do Collabore</h2></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><p class="ion-text-center slogan-sub-title">Em busca de uma cidade melhor!</p></ion-col>
    </ion-row>
  </ion-grid>

<!-- <===============================================>     -->

  <ion-grid class="grid-icon">
    <ion-row>
      <ion-col class="col-center ion-margin-top">
        <ion-img
          class="logo-img"
          src="../../../assets/logo_feed.svg"
          alt="Logo do projeto"
        ></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col><h1 class="ion-text-center title">Collabore</h1></ion-col>
    </ion-row>
  </ion-grid>

<!-- <===============================================>     -->

  <ion-grid>
    <ion-row>
      <ion-col class="col-center ion-margin-top">
        <ion-button class="btn btn-login" routerLink="/login">Login</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col-center ion-margin-top">
        <ion-button class="btn btn-register" routerLink="/register">Registre-se</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


