ion-header {
    box-shadow: none;
  }
  
  ion-toolbar {
    --background: #fff;
    padding-left: 12px;
  
    ion-button {
      --color: #e8ecf4;
      --border-radius: 12px;
    }
  }
  
  ion-content {
    --background: #fff;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-bottom: 1rem;
  
    .all {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
  
      .inputs-top {
        h1 {
          color: var(--ColorOne);
          font-size: 1.875rem;
          font-weight: 700;
          margin: 0 0 0.625rem 0;
        }
  
        p {
          font-size: 1rem;
          color: #8391a1;
          margin-bottom: 2rem;
        }
  
        ion-item {
          --background: transparent;
          --background: var(--ColorThree);
          --border-radius: 8px;
          --border-style: solid;
          --border-width: 1px;
          --border-color: #e8ecf4;
  
          ion-input {
            --border: none;
            --padding-start: 8px;
            --placeholder-color: #8391a1;
            --color: var(--ColorOne);
          }
  
          ion-icon {
            color: #6a707c;
          }
        }
      }
  
      .inferior {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 1rem;
  
        height: auto;
        width: 100%;
        a {
          font-size: 1rem;
          font-weight: 700;
        }
  
        ion-button {
          height: 44px;
          width: 100%;
          border: none !important;
          --border-radius: 8px;
          --border-color: var(--ColorOne);
          --border-style: solid;
          --border-width: 1px;
          --background: var(--ColorOne);
          outline: none;
          text-transform: unset;
        }
      }
    }
  }
  