<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-button fill="outline" (click)="goBack()">
      <ion-icon name="chevron-back-outline" style="color: #1e232c"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="all">
    <div class="inputs-top">
      <h1>Esqueceu a senha</h1>
      <p>Para recuperar sua senha, insira o e-mail vinculado à sua conta</p>
      <ion-card-subtitle>Insira seu email</ion-card-subtitle>
      <ion-item class="ion-margin-top">
        <ion-input
          type="text"
          placeholder="Email"
        ></ion-input>
      </ion-item>
    </div>
    <div class="inferior">
      <ion-button type="submit" expand="block" class="ion-margin-top">
        Enviar código
      </ion-button>
    </div>
  </div>
</ion-content>
